@charset "UTF-8";

body{
    background-color: rgb(118, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color:rgb(244, 244, 244);
    background-color: rgb(1, 9, 12);
}

h2 {
    color: rgb(255, 255, 255);
}

p {
    text-align: justify;
}